.dropdownMenuButton {
  background-color: #3498db;
  color: white;
  padding: 16px;
  border-width: 1px;
  border-color: whitesmoke;
  cursor: pointer;
  min-width: 160px;
  font-weight: bold;
  font-family: "Spectral", serif;
  font-size: 1.7em;
}
.dropdownMenuButton:hover,
.dropdownMenuButton:focus {
  background-color: #2980b9;
}
.dropdownMenu {
  display: inline-block;
}
.dropdownMenuContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdownMenuContent button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  min-width: inherit;
}
.dropdownMenuContent button:hover {
  background-color: #ddd;
}
.showDropdownMenuContent {
  display: block;
}
