body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
  margin: 0px;
  background-repeat: no-repeat;
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
