table {
  background-color: cornflowerblue;
}
th {
  padding: 5px;
  font-family: "Spectral", serif;
  font-size: 1.4em;
  text-shadow: 2px 2px 2px #ababab;
}
td {
  padding: 5px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px #ababab;
  max-width: 8em;
  min-width: 6em;
}
